{% extends 'base.html' %}

{% block content %}
<div class="container pt-4">

  <div class="row p-4 mt-4">

    <div class="col-5 shadow p-0 mx-auto">

      <div class="alert alert-info">
        <h2>Add New Todo</h2>
      </div>
  
          <div class="p-4">
  
              <form method="POST" action="/add-todo/">
  
                  {% csrf_token %}
                  {{form.as_p}}
  
                  <hr>
                  <button type="submit" class="btn btn-info">Add</button>
          
              </form>
  
          </div>
  
  </div>

  <!-- {{todos | length}}  calculate the length of the todos -->
   



  <div class="col">
    <div class="border">
      <!-- printing todos into the home page -->
      {% if todos|length == 0 %}
      <div class="p-4">
        <br>
        <br>

        <div class="alert alert-info text-center">
          <p class="" style="font-size: 30px;">NO TODOS</p>
        </div>
      </div>

      <br>
      <br>
      {% else %}

      <div>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Status</th>
              <th>Priority</th>
              <th>Actions</th>
            </tr>

            <tbody>
              
                {% for todo in todos %}

                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{todo.title}}</td>
                  <td>
                    {% if todo.status == 'P' %}
                      ⏰
                    {% else %}
                      ✅
                    {% endif %}
                  </td>
                  <td>{{todo.priority}}</td>
                  <td> 
                    <a href="/delete-todo/{{todo.id}}" title="Delete">🗑️</a>
                    {% if todo.status == 'P' %}
                    <a href="/change-status/{{todo.id}}/C" title="Mark Completed">✅</a>
                    {% else %}
                    <a href="/change-status/{{todo.id}}/P" title="Mark Pending">⏰</a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              
            </tbody>
          </thead>
        </table>
      </div>
      {% endif %}

    </div>
  </div>
    
  </div>

</div> 
{% endblock %}