
{% extends 'base.html' %}
{% block content %}

<br><br>
  <div class="container pt-4">

    <div class="col-5 shadow p-0 mx-auto">

      <div class="alert alert-info">
        <h2>Login here</h2>
      </div>

          <div class="p-4">

              <form method="post" action="/login/">

                  {% csrf_token %}
                  {{form.as_p}}

                  <hr>
                  <button type="submit" class="btn btn-info">Login</button>
          
              </form>

          </div>

  </div>

  </div> 
  {% endblock %}